<div class="page-header">
  <h2>Group 10</h2>
</div>

<div class="page-content">
  <h3>Rushabh Vakharwala        vakharw@uwindsor.ca</h3>
  <h3>Konika Gautam             gautamk@uwindsor.ca</h3>
  <h3>Akshay Jagadish           jagadisa@uwindsor.ca</h3>
  <h3>Priyal Shah               shah18n@uwindsor.ca</h3>
</div>
<br><br><br><br><br><br><br>
{{outlet}}